<mat-toolbar class="!bg-transparent !text-slate-100">
    <div class="mx-auto w-full max-w-6xl flex items-center justify-between px-2">
        <div class="flex items-center gap-3">
            <!-- Logo -->
            <div class="h-10 w-10 rounded-2xl bg-cyan-500/20 border border-cyan-400/30 flex items-center justify-center font-bold">
                S
            </div>
            <!-- title -->
            <div class="leading-tight">
                <div class="font-semibold tracking-wide">Softronic</div>
                <div class="text-xs text-slate-400">Device Health & Status Dashboard</div>
            </div>
        </div>

        <div class="flex items-center gap-2">
<!--            <button mat-stroked-button class="!rounded-full !border-cyan-400/40 !text-cyan-100"-->
<!--                    (click)="goLogin()">-->
<!--                Log in-->
<!--            </button>-->
<!--            <button mat-flat-button class="!rounded-full !bg-cyan-500 !text-slate-900"-->
<!--                    (click)="goRegister()">-->
<!--                Get started free-->
<!--            </button>-->
            <button mat-flat-button class="!rounded-lg !bg-cyan-500 !text-slate-900!"
                (click) = "joinWaitingList()">
                <p class="!text-xs">Join waiting List</p>
            </button>
            <button mat-stroked-button class="!rounded-lg !border-cyan-500 !text-slate-300"
                (click) = "getInvolved()">
                <p class="!text-xs">Get involved</p>
            </button>
        </div>
    </div>
</mat-toolbar>